
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(167, 213, 249);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}


.sidebar {
    position: fixed;
    top: 80px; 
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 20px;
    border-right: 1px solid #ccc;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #3634B5;
    color: #fff;
    border-radius: 5px;
    padding-left: 18px; 
}


.sidebar ul li a.active {
    background-color: #3634B5; 
    color: #fff;
    border-radius: 5px;
}


.main-content {
    margin-left: 200px; 
    padding: 100px 80px 40px 100px; 
}


table {
    border-collapse: collapse;
    width: 100%; 
    table-layout: auto; 
    font-size: 14px;
}


table th {
    background-color: #3634B5;
    color: white;
    padding: 10px 15px; 
    text-align: left;
}


table td {
    padding: 8px 15px; 
    border-bottom: 1px solid #ccc;
}


table tr:hover {
    background-color: #f2f2f2;
}
