*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    text-decoration: none;
}


.bg-1{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
} 

header {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: 0.6s;
	padding: 20px 60px;
	z-index: 5;
    background-color: rgb(167, 213, 249);
    color: black;
}

header .logo {
    width: 80px; 
    height: auto;
    margin-right: 10px;
}

header.sticky{
	padding: 23px 100px;
	z-index: 5;
}


header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.login-container, .register-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-container h2, .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label, .register-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input, .register-container input {
    width: 383px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button, .register-container button {
    width: 100%;
    padding: 10px;
    background-color: rgb(167, 213, 249);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;;

}

.login-container button:hover, .register-container button:hover {
    background-color: #3634B5;
    text-decoration: none;
}
